.hide {
    display: none;
}

.show {
    position: fixed;
    background: white;
    width: 35rem;
    height: 8rem;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.mainContent {
}
.btnContainer {
}

.closeBtn {
}
